
section.sec_stl{
    padding: 1% 3%;
}
@media only screen and (max-width: 600px) {
    html, body {
    width: 100%;
    overflow-x: hidden;
}
}
.pg_padng {
    padding: 6% 5%;
 }
 
        /*.profile-page-container .profile-sidebar .profile-tabs .router-link-active .innerSpan {
            color: black;
            font-weight: bold;
        }*/
        .profile-page-container .profile-sidebar .profile-tabs .sidetab span {
            padding-left: 10px;
        }
        .profile-page-container .profile-sidebar .profile-tabs .sidetab .how-it-works-side-show, .profile-page-container .profile-sidebar .profile-tabs .sidetab>a {
            display: block;
            height: 49px;
            line-height: 49px;
            padding-left: 14px;
        }
        .profile-page-container .profile-sidebar .profile-tabs .sidetab-innerTab {
        margin-top: 0px;
        margin-left: 30px;
        margin-bottom: 15px;
    }
    .profile-page-container .profile-sidebar .profile-tabs .sidetab-innerTab div {
        margin-top: 10px;
    }
    .profile-page-container .profile-sidebar .profile-tabs .sidetab span {
        color: #6C747F;
        padding-left: 10px;
    }
  
        .profile-sprite {
        background: url(../frontend/assets/img/profile-sprites.png?v=20170318) no-repeat;
        display: inline-block;
    }
    .overview {
        height: 18px;
        background-position: -1045px -214px;
    }
    .user-transfer {
        height: 18px;
        background-position: -1102px -214px;
    }
    .cashback-activity-sidebar {
        height: 18px;
        background-position: -5px 0;
    }
    .refer-earn-sidebar {
        height: 18px;
        background-position: -1064px -214px;
    }
    .help-support-sidebar {
        height: 18px;
        background-position: -1026px -214px;
    }
    .profile-page-container .main-body .cashback-container {
        border-radius: 5px;
        border: 1px solid #D8E0E2;
        background-color: white;
    }
    .profile-page-container .main-body .cashback-container {
        width: 100%;
        float: right;
        display: inline-block;
    }
    .activity-tabs {
        height: 59px;
        border-bottom: 1px solid #D8E0E2;
    }
    .activity-tabs p {
        display: inline-block;
        color: grey;
        margin-top: 21px;
        width: 120px;
        text-align: center;
        margin-left: 180px;
        font-size: 16px;
    }
    .activity-tabs .router-link-active {
        color: #ff4e0c;
        font-weight: bold;
        padding-bottom: 15px;
        border-bottom: 3px solid #ff4e0c;
    }
    .activity-tabs a {
        color: #4a4a4a;
    }
    .profile-page-container .main-body .cashback-container .cashback-section {
        padding: 20px;
    }
    .profile-page-container .main-body .cashback-container .cashback-section .activity-wrapper {
        margin-bottom: 20px;
    }
    .profile-page-container .main-body .cashback-container .cashback-section .activity-wrapper .title {
        color: #4a4a4a;
        font-size: 24px;
        font-weight: bold;
        padding-top: 20px;
        margin: 0;
        font-weight: bold;
    }
    .common-title-desc, .profile-page-container .main-body .text, .profile-page-container .main-body .cashback-container .click-section .click-desc {
        color: #9b9b9b;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 0.2px;
        padding-top: 2px;
        margin: 0;
    }
    .profile-page-container .main-body .cashback-container .cashback-section .activity-wrapper .activity-table-wrapper {
        margin-top: 15px;
        width: 100%;
    }
    .profile-page-container .main-body .cashback-container .cashback-section .activity-wrapper .activity-table-wrapper .table {
        width: 100% !important;
        margin: 0px;
        background: #ffffff;
        color: #000000;
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
    }
    .profile-page-container .main-body .cashback-container .cashback-section .activity-wrapper .activity-table-wrapper .table tr {
        transition: all 0.3s linear;
    }
    .profile-page-container .main-body .cashback-container table .table-heading.green {
        background-color: #F89F1E;
        font-weight: bold;
    }
    .profile-page-container .main-body .cashback-container .cashback-section .activity-wrapper .activity-table-wrapper .table tr, .profile-page-container .main-body .cashback-container .cashback-section .activity-wrapper .activity-table-wrapper .table td {
        margin: 0px;
    }
    .profile-page-container .main-body .cashback-container .cashback-section .activity-wrapper .activity-table-wrapper .table .table-heading td {
        font-weight: bold;
    }
    .profile-page-container .main-body .cashback-container .cashback-section .activity-wrapper .activity-table-wrapper .table td:first-child {
        width: 17%;
    }
    .profile-page-container .main-body .cashback-container .cashback-section .activity-wrapper .activity-table-wrapper .table td {
        padding: 12px 16px;
        font-size: 14px;
        text-align: left;
    }
    .profile-page-container .main-body .cashback-container .cashback-section .activity-wrapper .activity-table-wrapper .table td {
        margin: 0px;
    }
    .profile-page-container .main-body .cashback-container table .table-heading.green td {
        color: white !important;
    }
    .profile-page-container .main-body .cashback-container .click-section {
        padding: 20px;
    }
    .profile-page-container .main-body .cashback-container .click-section .click-title{
        color: #4a4a4a;
        font-size: 24px;
        padding-top: 20px;
        margin: 0;
        font-weight: bold;
    }
    body .cashback-container .click-section .click-desc {
        margin-bottom: 10px;
    }
    .profile-page-container .main-body .cashback-container .click-section .click-desc {
        color: #9b9b9b;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 0.2px;
        padding-top: 2px;
        margin: 0;
    }
    .profile-page-container .main-body .cashback-container .click-section table {
        width: 100% !important;
        margin: 0px;
        background: #ffffff;
        color: #000000;
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
    }
    .profile-page-container .main-body .cashback-container .click-section table td {
        padding: 12px 16px;
        font-size: 14px;
        text-align: left;
        width: 135px;
    }
    .profile-page-container .main-body .cashback-container .click-section table td {
        padding: 12px 16px;
        color: #4a4a4a;
        font-size: 14px;
        text-align: left;
        width: 135px;
    }
    .profile-page-container .main-body .cashback-container .click-section table td {
        margin: 0px;
    }
    body .cashback-container .click-section .click-box {
        width: 838px;
        border: 1px solid #D8E0E2;
        border-top: none;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
    .click-tag {
        padding-left: 30px;
        padding-top: 15px;
    }
    .common-title, .click-tag, .profile-page-container .main-body .cashback-container .click-section .click-title, .profile-page-container .main-body .cashback-container .cashback-section .activity-wrapper .title {
        color: #4a4a4a;
        font-size: 24px;
        margin: 0;
        font-weight: bold;
    }
    .click-info {
        padding-left: 30px;
        padding-top: 15px;
    }
    .profile-page-container .main-body .cashback-container .click-section .click-desc {
        margin-bottom: 10px;
    }
        .form-control {
        display: block;
        width: 89%;}
        .input-group .form-control {
            width: 89%;
        }
        a .btn-refer.reset {
            background-color: #F89F1E;
    width: 140px;
    height: 47px;
    line-height: 47px;
    font-weight: 500;
    color: #000;
    float: right;
    margin-bottom: 1%;
    border: unset;
        }

        .csbk_actvt_actv {
    background: #F89F1E;
}
.sidetab.csbk_actvt_actv a span {
    color: #000 !important;
}