
section.sec_stl{
    padding: 1% 3%;
}
@media only screen and (max-width: 600px) {
    html, body {
    width: 100%;
    overflow-x: hidden;
}
}
.pg_padng {
    padding: 6% 5%;
 }

    html,body{
        width: 100%;
        overflow-x: hidden;
    }
        .profile-page-container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        margin-bottom: 100px;
    }
    .main-content {
        margin-bottom: 100px;
    }
    .ovrvw_actv {
    background: #F89F1E;
}
.sidetab.ovrvw_actv a span {
    color: #000 !important;
}
   
    
  
   
    .profile-page-container .profile-sidebar .profile-info .profile-user-name .profile-user-available-amt {
        font-size: 13px;
        font-weight: normal;
    }
    .profile-page-container .profile-sidebar .profile-info .profile-user-name .profile-user-pending-amt {
        font-size: 13px;
        font-weight: normal;
    }
    .profile-page-container .profile-sidebar .profile-tabs {
        background-color: white;
        border-radius: 4px;
        border: 1px solid #D8E0E2;
    }
   
    .profile-page-container .profile-sidebar .profile-tabs .sidetab .how-it-works-side-show, .profile-page-container .profile-sidebar .profile-tabs .sidetab>a {
        display: block;
        height: 49px;
        line-height: 49px;
        padding-left: 14px;
    }
    .profile-page-container .profile-sidebar .profile-tabs .sidetab .itag {
        width: 19px;
        font-size: 18px;
        vertical-align: middle;
        color: #0097a7;
    }
    .profile-page-container .profile-sidebar .profile-tabs .sidetab span {
        color: #6C747F;
        padding-left: 10px;
    }
    /* .fa {
        display: inline-block;
        font: normal normal normal 14px/1 fonticons;
    
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        
    } */
    .profile-sprite {
        background: url(../frontend/assets/img/profile-sprites.png?v=20170318) no-repeat;
        display: inline-block;
    }
    .overview {
        height: 18px;
        background-position: -1045px -214px;
    }
    .user-transfer {
        height: 18px;
        background-position: -1102px -214px;
    }
    .profile-page-container .profile-sidebar .profile-tabs .sidetab .how-it-works-side-show, .profile-page-container .profile-sidebar .profile-tabs .sidetab>a {
        display: block;
        height: 49px;
        line-height: 49px;
        padding-left: 14px;
    }
    .cashback-activity-sidebar {
        height: 18px;
        background-position: -5px 0;
    }
    .refer-earn-sidebar {
        height: 18px;
        background-position: -1064px -214px;
    }
    .profile-page-container .profile-sidebar .profile-tabs .sidetab span {
        color: #6C747F;
        padding-left: 10px;
    }
    .help-support-sidebar {
        height: 18px;
        background-position: -1026px -214px;
    }
    /* .main-body {
        width: 880px;
        margin-left: 30px;
        display: inline-block;
    } */
    .profile-page-container .main-body .common-containers, .profile-page-container .main-body .cashback-container, .profile-page-container .main-body .overview-container {
        width: 100%;
        float: right;
        border-radius: 5px;
        display: inline-block;
    }
    .profile-page-container .main-body .overview-container .profile-details {
        border-radius: 5px;
        border: 1px solid #D8E0E2;
        background-color: white;
    }
 
    /* .profile-page-container .main-body .overview-container .profile-details .info-header {
        border-top: 1px solid #D8E0E2;
        border-bottom: 1px solid #D8E0E2;
    } */
    .profile-page-container .main-body .overview-container .profile-details .info-header .grid-container {
        /* width: 49.66%; */
        padding-top: 20px;
        color: grey;
        font-size: 14px;
        /* height: 130px; */
        text-align: center;
        /* display: inline-block; */
        /* border-right: 1px solid #D8E0E2; */
        vertical-align: top;
    }
    
    .profile-page-container .main-body .overview-container .profile-details .info-header .grid-container .tooltip {
        font-size: 14px;
        margin-left: 6px;
        padding-top: 0;
    }
   
    .tooltip {
        position: relative;
        cursor: pointer;
    }
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 235px;
        line-height: 16px;
        background-color: #FBFCFF;
        color: #5d5d5d;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 12px;
        position: absolute;
        z-index: 1;
        top: -38px;
        left: 25px;
        box-shadow: 0 2px 14px 2px rgba(188,188,188,0.5);
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        transition-delay: 0.1s;
        font-style: normal;
        cursor: default;
        transition: all .3s;
        opacity: 0;
        text-align: left;
        letter-spacing: 0;
    }
    .profile-page-container .main-body .overview-container .profile-details .info-header .grid-container a.cashback {
        color: #26c281;
        font-weight: bold;
    }
  
    .cb-text>span {
        vertical-align: middle;
    }
    .profile-page-container .main-body .overview-container .profile-details .recent-activity {
        padding: 20px;
    }
    .profile-page-container .main-body .overview-container .profile-details .recent-activity .title, .profile-page-container .main-body .overview-container .promotion-section .title {
        color: #4a4a4a;
        font-size: 24px;
        padding-top: 20px;
        margin: 0;
        font-weight: bold;
    }
    .profile-page-container .main-body .overview-container .profile-details .recent-activity .title-desc {
        color: #9b9b9b;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 0.2px;
        padding-top: 2px;
        margin: 0;
    }
    .profile-page-container .main-body .no-table-text {
        color: #ff4e0c;
        margin-top: 20px;
    }
    .profile-page-container .main-body .overview-container .profile-details .info-header .grid-container .tooltip {
        font-size: 14px;
        margin-left: 6px;
        padding-top: 0;
    }
   
    .tooltip {
        position: relative;
        cursor: pointer;
    }
   
    .profile-page-container .profile-sidebar .profile-info .profile-user-name .profile-user-available-amt span {
        color: #2BA828;
        padding-left: 5px;
        font-weight: bold;
        margin-left: -4px;
    }
    .profile-page-container .profile-sidebar .profile-info .profile-user-name .profile-user-pending-amt span {
        color: rgba(0,0,0,0.54);
        padding-left: 5px;
        font-weight: bold;
    }
    .refer-details-modal.percentage-details-modal .md-modal {
    height: 254px;
    }
    .refer-details-modal .md-modal {
    width: 600px;
    }
    .md-show {
    display: block;
    }
    .md-modal {
    position: fixed;
    z-index: 2002;
    display: none;
    background-color: #fff;
    border-radius: 5px;
    white-space: normal;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.md-show.md-scaled-effect .md-content {
    opacity: 1;
}


        /*.profile-page-container .profile-sidebar .profile-tabs .router-link-active .innerSpan {
            color: black;
            font-weight: bold;
        }*/
        .profile-page-container .profile-sidebar .profile-tabs .sidetab span {
            padding-left: 10px;
        }
        .profile-page-container .profile-sidebar .profile-tabs .sidetab .how-it-works-side-show, .profile-page-container .profile-sidebar .profile-tabs .sidetab>a {
            display: block;
            height: 49px;
            line-height: 49px;
            padding-left: 14px;
        }
        .profile-page-container .profile-sidebar .profile-tabs .sidetab-innerTab {
        margin-top: 0px;
        margin-left: 30px;
        margin-bottom: 15px;
    }
    .profile-page-container .profile-sidebar .profile-tabs .sidetab-innerTab div {
        margin-top: 10px;
    }
    .profile-page-container .profile-sidebar .profile-tabs .sidetab span {
        color: #6C747F;
        padding-left: 10px;
    }